<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<item>
<title>[B]=== [COLOR magenta]INDONESIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/indonesia/indonesia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/IndonesiaBackup1.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]MALAYSIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/malaysia/malaysia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/Malaysia.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]SINGAPORE[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/singapore/singapore_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/Singapore.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]INDIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/india/india_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/India.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]LETV[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/Icons/LETV.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/LETV-DRAMA.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]WORLD O[/COLOR][COLOR cyan]F SPORTS[/COLOR] ===[/B]</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/SportsV3.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]WORLD O[/COLOR][COLOR cyan]F ENTERTAINMENT[/COLOR] ===[/B]</title>
<thumbnail>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/Icons/entertainment.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/Entertainment.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]TEST[/COLOR][COLOR cyan] AREA[/COLOR] ===[/B]</title>
<thumbnail>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/Icons/test1.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignorame</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SuperAdrian/Test-Area.xml</externallink>
</item>


