<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<item>
<title>[B]=== [COLOR magenta]INDONESIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/indonesia/indonesia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/IndonesiaBackup.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]MALAYSIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/malaysia/malaysia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/Malaysia.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]SINGAPORE[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/singapore/singapore_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/Singapore.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]INDIA[/COLOR][COLOR cyan] CHANNELS[/COLOR] ===[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/india/india_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/India.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]WORLD O[/COLOR][COLOR cyan]F SPORTS[/COLOR][COLOR teal] V1[/COLOR] ===[/B]</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/SportsV3.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]WORLD O[/COLOR][COLOR cyan]F SPORTS[/COLOR][COLOR teal] V2[/COLOR] ===[/B]</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/Sports.xml</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]PREMIER LEA[/COLOR][COLOR cyan]GUE PASS[/COLOR] ===[/B]</title>
<link>http://ignorame</link>
<thumbnail>https://i.imgur.com/01Ve7Zm.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<externallink>http://goo.gl/HWoIRn</externallink>
</item>

<item>
<title>[B]=== [COLOR magenta]TEST[/COLOR][COLOR cyan] AREA[/COLOR] ===[/B]</title>
<link>http://ignorame</link>
<thumbnail>https://s-media-cache-ak0.pinimg.com/originals/88/64/98/886498fa48837f4a6e9252567b604638.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/SuperAdrian/master/SuperAdrianList/TEST.xml</externallink>
</item>


