<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<item>
<title>INDONESIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/indonesia/indonesia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/syarrr/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Indonesia.xml</externallink>
</item>

<item>
<title>MALAYSIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/malaysia/malaysia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Malaysia.xml</externallink>
</item>

<item>
<title>INDIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/india/india_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/India.xml</externallink>
</item>

<item>
<title>BONUS CHANNELS</title>
<thumbnail>http://i376.photobucket.com/albums/oo204/indiecrew/MR%20Network%20TV/flag_world_zpsic7ttnuh.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta</fanart>
<link>http://ignoreme</link>
<externallink>http://pastebin.com/raw/QWpDc8vT</externallink>
</item>

<item>
<title>LIVE BPL - ONLY ON MATCHDAY</title>
<thumbnail>http://www.futaa.com//images/350x300/BPL300x300_1.gif</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta</fanart>
<link>http://ignoreme</link>
<externallink>http://njmsoccer.kodistream.info/PLP.m3u</externallink>
</item>

<item>
<title>PAYPAL DONATIONS: thesuperboxbuild@outlook.com</title>
<thumbnail>http://kastellorizo.com/wp-content/uploads/2015/02/paypal2015.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta</fanart>
<link>http://ignoreme</link>
<externallink>http://ignoreme</externallink>
</item>
