<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<item>
<title>INDONESIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/indonesia/indonesia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/syarrr/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Indonesia.xml</externallink>
</item>

<item>
<title>MALAYSIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/malaysia/malaysia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Malaysia.xml</externallink>
</item>

<item>
<title>SINGAPORE CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/singapore/singapore_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Singapore.xml</externallink>
</item>

<item>
<title>INDIA CHANNELS</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/india/india_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/India.xml</externallink>
</item>

<item>
<title>WORLD OF SPORTS</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Sports.xml</externallink>
</item>

item>
<title>BONUS CHANNELS</title>
<thumbnail>http://i376.photobucket.com/albums/oo204/indiecrew/MR%20Network%20TV/flag_world_zpsic7ttnuh.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>http://www.t12v.com:8000/get.php?username=A@kNOuch&password=RaChId&type=m3u&output=mpegts</externallink>
</item>

<item>
<title>BONUS TEST CHANNELS</title>
<thumbnail>http://i376.photobucket.com/albums/oo204/indiecrew/MR%20Network%20TV/flag_world_zpsic7ttnuh.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>http://x.shit.football:8080/get.php?username=ILOVE&password=WATCHINGDIRTYPORN&type=m3u</externallink>
</item>

item>
<title>DRAMAS - TESTING</title>
<thumbnail>https://www.dropbox.com/s/heydeq4yvhuzvgt/DRAMA.png?dl=1</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Drama.xml</externallink>
</item>

<item>
<title>PAYPAL DONATIONS: thesuperboxbuild@outlook.com</title>
<thumbnail>http://kastellorizo.com/wp-content/uploads/2015/02/paypal2015.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta</fanart>
<link>http://ignoreme</link>
<externallink>http://ignoreme</externallink>
</item>
