<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<item>
<title>[B]---===[COLOR red]LIVE[/COLOR][COLOR cyan] GAMES[/COLOR]===---[/B]</title>
<thumbnail>https://i.imgur.com/01Ve7Zm.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SUPER%20ADRIAN%20LIST/LiveGames.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]INDONESIA[/COLOR][COLOR cyan] CHANNELS[/COLOR]===---[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/indonesia/indonesia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/syarrr/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Indonesia.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]MALAYSIA[/COLOR][COLOR cyan] CHANNELS[/COLOR]===---[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/malaysia/malaysia_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Malaysia.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]SINGAPORE[/COLOR][COLOR cyan] CHANNELS[/COLOR]===---[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/singapore/singapore_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Singapore.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]INDIA[/COLOR][COLOR cyan] CHANNELS[/COLOR]===---[/B]</title>
<thumbnail>http://img.freeflagicons.com/thumb/flag_background/india/india_640.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/India.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]WORLD O[/COLOR][COLOR cyan]F SPORTS[/COLOR][COLOR yellow] V1[/COLOR]===---[/B]</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianList/master/SUPER%20ADRIAN%20LIST/SportsV1.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]WORLD O[/COLOR][COLOR cyan]F SPORTS[/COLOR][COLOR yellow] V2[/COLOR]===---[/B]</title>
<thumbnail>http://previews.123rf.com/images/duug/duug1206/duug120600003/13966994-sport-logo-Stock-Vector-sports.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<link>http://ignoreme</link>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/Sports.xml</externallink>
</item>

<item>
<title>[B]---===[COLOR red]P[/COLOR]L[COLOR cyan]P[/COLOR]===---[/B]</title>
<link>http://ignorame</link>
<thumbnail>https://i.imgur.com/01Ve7Zm.png</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<externallink>http://goo.gl/HWoIRn</externallink>
</item>

<item>
<title>[B]---===[COLOR red]TEST[/COLOR][COLOR cyan] AREA[/COLOR]===---[/B]</title>
<link>http://ignorame</link>
<thumbnail>https://s-media-cache-ak0.pinimg.com/originals/88/64/98/886498fa48837f4a6e9252567b604638.jpg</thumbnail>
<fanart>https://www.dropbox.com/s/fwfmnvv9tzdtdta/fanart1.png?dl=1</fanart>
<externallink>https://raw.githubusercontent.com/ProjectAdrian/AdrianSyafiq/master/SUPER%20ADRIAN%20LIST/TEST.xml</externallink>
</item>
